.about1{
    width: 100vw;
    /* height: 84.5vh;q */
    /* height: 140%; */
    background-color: rgb(145,173,205);
    
    justify-content: space-between;
}
.about10{
    width: 100vw;
    height: 84.5vh;
}

.second{
    padding-top: 3%;
    text-align: center;
    font-size: 4vw;
    color:rgb(12,58,92);
    font-weight: bold;
}
.about-img{
    justify-content: center;
    margin-top: 0%;
    margin-left: 25%;
}
.hello{
    margin-top: 3.5%;
    max-width: 80vw;
    text-align: center;
    color: rgb(12,58,92);
    font-weight: bold;
    padding-left: 20%;
    font-size: 1vw;
}
.first{
    color: rgb(12,58,92);
    padding-top: 3%;
    padding-left: 4%;
    font-weight: bold;
}

.ad-p{
    margin-left: 1%;
}
main{
    margin-top: 3%; 
    /* justify-content: center; */
    margin-bottom: 100px;
    margin-left: 32%;
}
.video-wrapper{
    
    position: relative;

}
.video-wrapper video{
    position: relative !important;

}