

/* .App {
  text-align: center;
} */

.navbar{
  padding-left: 3%;
  display: flex;
  border: 2px solid black;
  justify-content: center;
  align-items:baseline;
  /* vertical-align:bottom; */
}
.welcome{
  margin-left: 5%;
}
.home-about-profile{
  display: flex;
  margin-right: 5%;
}
.home{
  margin-right: 5%;
} 

.about{
  margin-right: 5%;
}
.profile{
  margin-right: 5%;
}
.search-container {
  margin-left: 25%;
}
.search-bar{
  justify-content: center;
  /* border: 2px solid black; */
  margin-top: 15%;
  width:55vw;
}
/* .bar{
  width: 30em;
  height: 2em;
} */
/* .form {
  margin-left: 40%;
} */
.form-control1{
  min-width: 45vw;
  height: 2em;
}
.big-box{
  display: flex;
}
.search-button{
  margin-left: 7%;
  width: 5em;
  font-family: sans-serif;
  font-size: 17px;
  background-color: rgb(48, 48, 214); 
  color:aliceblue;
  border-radius: 4px;
}
.details-master{
  justify-content: center;
  text-align: center;
}
.details0{
  margin-top: 5%;
}